<section class="myDiv">
  <div class="background columns">
    <div class="column is-quarter">
      <h1><em>Study Buddy</em></h1>
      <h2><em>Ironhack's favorite flashcard website</em></h2>
    </div>

    <div class="card front-card flip-in-ver-left">
        <div class="card-content ">
          <div class="content ">
            <h3 class="center">Have you ever had so much fun studying?</h3>
          </div>
        </div>
</div>
  </div>
  
</section>
<!-- TODO: What text do we want on it? Because I think it shouldn't stay empty -pk -->
<!-- TODO: I'd like a shadow going from this section onto the picture -pk -->

<div class="e-size left center columns ">
    <div class="column color1 box-grad1">
      <p class="margin-top10">Create Groups</p>
      <i class="icon fas fa-pencil-alt"></i>
    </div>
    <div class="column color1 box-grad2">
      <p class="margin-top10">Study Subjects</p>
      <i class=" icon far fa-lightbulb"></i>
    </div>
    <div class="column color1 box-grad3">
      <p class="margin-top10">Rate Cards</p>
      <i class="icon far fa-thumbs-up"></i>
    </div>
    <div class="column color1 box-grad4">
      <p class="margin-top10">Get Feedback</p>
      <i class=" icon fas fa-chart-pie"></i>
    </div>
    <div class="column color1 box-grad5">
      <p class="margin-top10">Learn Faster</p>
      <i class="icon fas fa-graduation-cap"></i>
    </div>
  </div>
