<section class="whole-page">
<!-- TODO: What text do we want on it? Because I think it shouldn't stay empty -pk -->
</section>
<!-- TODO: I'd like a shadow going from this section onto the picture -pk -->
<section class="container what-is-it">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Learn
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Rate it
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Shows based on your rating
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Create!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>