<section class="myDiv">
  <div class="background columns">
    <div class="column is-quarter">
      <h1>TITLE</h1>
  <h2>The most fun you've ever had while studying</h2>
    </div>

  </div>
  
</section>
<!-- TODO: What text do we want on it? Because I think it shouldn't stay empty -pk -->
<!-- TODO: I'd like a shadow going from this section onto the picture -pk -->

<div class="e-size left center columns">
    <div class="column color1">
      <p class="margin-top10">Create Groups</p>
      <p class="smallfont"></p>
    </div>
    <div class="column color1">
      <p class="margin-top10">Study Subjects</p>
    </div>
    <div class="column color1">
      <p class="margin-top10">Rate Cards</p>
    </div>
    <div class="column color1">
      <p class="margin-top10">Get Feedback</p>
    </div>
    <div class="column color1">
      <p class="margin-top10">Learn Faster</p>
      <p class="smallfont"></p>
    </div>
  </div>
