<p class="menu-label">Hi, {{userData?.username}}!</p>
<div class="columns">
    <aside class="column is-2 is-fullheight section is-hidden-mobile">
        <p class="menu-label is-hidden-touch">Navigation</p>
        <ul class="menu-list">
            <li>
                <a [routerLink]="['./groups']" class=""> Groups</a>
            </li>
            <li>
                <a [routerLink]="['./subjects']">Subjects </a>
            </li>
            <li>
                <a [routerLink]="['./details']" class="">My Account</a>
            </li>
        </ul>
    </aside>
    <div class="column is-10">
        <router-outlet></router-outlet>
    </div>
</div>