<div class="columns">
    <div class="main-section column ">
    <h1 class = "center"> Your Groups</h1>
    
    <div class="box search">
        <div class="field has-addons">
              <input class="input" type="text" placeholder="Search Groups" [(ngModel)]="search" >
           
          </div>
    </div>
   
    <!-- *ngFor="let subject of groups?.subjects  " -->
    <a class="box" *ngFor="let group of groups | inputFilter : search" (click)="groupState(group._id)" [routerLink]="['/group', group._id]">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <div class ="left">
                  <h4 ><strong>{{group.name}}</strong></h4>
              
                  <!-- <div *ngFor="let keyword of subject.keywords">{{keyword}}</div> -->
                  <!-- <p *ngIf="subjects">Tags: {{subjects?.tags}}</p> -->
              </div>
  
            </div>
          </div>
        </article>
      </a>
    

    
      <!-- if admin show this below -->
      <div class="center admin">

        <a class="button color4">Create group </a>
      </div>
    </div>
<!--     
    <div class="column stats-box">
                <h3>Group 1 Statistics</h3>
        
            </div>
        
    
    </div> -->
    
    