<div class="columns">
  <div class="main-section column is-three-quarters">
    <!-- loop through each card -->
    <div class="card front-card left">
      <div class="card-content">
        <div class="content">
          <h3>This is the front side of flashcard</h3>
          <a class="flash-button right"><b>➤</b></a>
        </div>
      </div>
     
    </div>

    <div class="card swing-in-left-fwd left">
        <div class="card-content">
          <div class="content">
            <h3 class="center">This is the back side of flashcard</h3>
          </div>
        </div>
      </div>
  

      <!--only when back of card is shown-->

       <div class="clear center">
        <div class="answer-box">How well did you know the answer?</div>
        <div class="center">
          <p class="e-size left center">😫 ☹️ 🤔 😊 😎 </p>
          <p class="e-size left"> </p>
          <p class="e-size left"> </p>
          <p class="e-size left"> </p>
          <p class="e-size left"> </p>
        </div>
      </div>
    </div>
    
  <div class="column stats-box">
    <h3>My Statistics: Subject 1</h3>
  </div>
</div>