<div class="columns">
  <div class="main-section column is-three-quarters">
    <!-- loop through each card -->
    <div class="card front-card left">
      <div class="card-content">
        <div class="content">
          <h3 class="center">{{currentCard.front}}</h3>
          <a (click)="flipBackVisibility()" class="flash-button right">
            <b>➤</b>
          </a>
        </div>
      </div>

    </div>

    <div *ngIf="classState.showForm">
      <div class="card left swing-in-left-fwd">
        <div class="card-content">
          <div class="content">
            <h3 class="center">{{currentCard.back}}</h3>
          </div>
        </div>
      </div>
    </div>


    <!--only when back of card is shown-->

    <div class="clear center">
      <div *ngIf="classState.showForm">
        <div class="answer-box">
          How well did you know the answer?
        </div>
        <div class="center">
          <span class="e-size left center">
            <a (click)="rateCard(1)">😫</a>
            <a (click)="rateCard(2)">☹️</a>
            <a (click)="rateCard(3)">🤔</a>
            <a (click)="rateCard(4)">😊</a>
            <a (click)="rateCard(5)">😎</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="column stats-box">
    <h3>My Statistics: Subject 1</h3>
  </div>
</div>