<div class="columns">
<div class="main-section column is-three-quarters">
<h1 class = "center">Group 1: Your Subjects</h1>

<div class="box search">
    <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Search Group 1 Subjects">
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
</div>
<!-- add for each subject div below-->

<div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <div class ="left">
              <h4><strong>Example Subject 1</strong></h4>
              <p>Tags: science, programming</p>
          </div>
          <a class="button is-link right">View Flashcards</a>
        </div>
      </div>
    </article>
  </div>



  <!-- if admin show this below -->
  <div class="center admin">
    <p>Admin can see this:</p>
    <a class="button is-link">Add Subject +</a>
  </div>
</div>

<div class="column stats-box">
            <h3>Group 1 Statistics</h3>
    
        </div>
    

</div>


