<div class="columns">
  <div class="main-section column is-two-thirds">
    <h1 class="center">{{groups?.name}}: Subjects</h1>

    <div class="box search">
      <div class="field has-addons">
          <input class="input" type="text" placeholder="Search Subjects" [(ngModel)]="search">
        </div>
    </div>
    <!-- add for each subject div below-->

  
    <div class="box"*ngFor="let subject of groups?.subjects | inputFilter : search" [routerLink]="['/g', groups._id, 'subject', subject._id]" (mouseenter)="mouseEnter(subject)" (mouseleave)="mouseLeave()" class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="left">
              <h4>
                <strong>{{subject?.name}}</strong>
              </h4>
              Tags:
              <span *ngFor="let keyword of subject?.keywords">{{keyword}} </span>
            </div>
            <div class="right">
              <p>{{statsBySubject[subject?._id]?.numberOfCards}} cards</p>
              <p>{{currentUserIndividualStats[subject?._id]?.percentageComplete | number:'.0'}}% Complete</p>
              <!-- <p>{{statsBySubject[subject?._id]?.avePercentageComplete | number: ".0" }}% Complete</p> -->
            </div>

          </div>
        </div>
      </article>
    </div>

    <!-- <div *ngFor="let subject of groups?.subjects" class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <div class ="left">
              <h4 ><strong>{{subject.name}}</strong></h4>
          
              <span *ngFor="let keyword of subject.keywords">{{keyword}}</span>
              <! <p *ngIf="subjects">Tags: {{subjects?.tags}}</p> -->
    <!-- </div>
          <a [routerLink]="['/subject', subject._id]" class="button is-link right">View Flashcards</a>
        </div>
      </div>
    </article>
  </div> -->


    <!-- if admin show this below -->
    <div class="center admin" *ngIf="isAdmin">
      <!-- <p>Admin can see this:</p> -->
      <a class="button color4" (click)="showAddSubForm()">Add Subject</a>
      <a class="button color4" *ngIf="groups?.name != 'Private'" (click)="showAddUserForm()">Add User</a>
    </div>

    <a class="button center big-marg color2" (click)="getStudyBuddy()">Get Study Buddy</a>
    <div *ngIf="studyBuddy">
      <h4 class="center">{{studyBuddy.username}}</h4>
      <span *ngIf="studyBuddyDiv" (click)="emailFormShow()">E-mail {{studyBuddy.username}} to set up a study session!</span>
    </div>
  </div>

  

  <div class="column stats-box">
    <div class="light-grey">
      <span><h1 class="center">{{groups?.name}} Statistics</h1></span>
    </div>

    <div *ngIf="hoveredSubject">
      <app-group-stats [subject]="hoveredSubject" [statsBySubject]="statsBySubject"></app-group-stats>
    </div> 

  </div>


</div>

<div class="sign-up-window center" *ngIf="addSubState">
  <div class="sign-up-pop-sub ">
    <i class="fa fa-window-close fa-2x icon-close" (click)="showAddSubForm()"></i>
    <h2> Add a Subject</h2>
    <div class="box search">
        <div class="field has-addons">
          <input class="input" type="text" placeholder="Search Subjects" [(ngModel)]="search">
        </div>
    </div>
    <div class='height to-scroll'>
    <div class="box" *ngFor="let subject of subjects | inputFilter : search" (mouseenter)="mouseEnter(subject)" (mouseleave)="mouseLeave()">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <div class="left">
                  <h4>
                    <strong>{{subject?.name}}</strong>
                  </h4>
                </div>
                <div class="right">
                    <i class="fas fa-plus-circle fa-2x add-button" (click)="addThisSub(subject?._id)"></i>
                </div>
              </div>
            </div>
          </article>
        </div>
    </div>
  </div>
</div>

<div class="sign-up-window center" *ngIf="addUserState">
  <div class="sign-up-pop-sub columns">
    <i class="fa fa-window-close fa-2x icon-close" (click)="showAddUserForm()"></i>
    <div class="column is-half to-scroll">
        <h2 class="center">Users of this group</h2>
      <div *ngFor="let one of allUsersWhoBelong" class="box">
        <div class="media">
          <div class="media-content">
            <div class="content">
              <div class="left">
                {{one.username}}
              </div>
              <div class="right">
                  <i class="fas fa-minus-circle delete-button" (click)="deleteUserFromGroup(one._id)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half to-scroll">
      <h2 class="center">Add a User</h2>
      <div class="media">
        <div class="media-content">
          <div class="content">
            <input class=" input " type="text" name="username" [(ngModel)]="searchUser">
          </div>
        </div>
      </div>

     
      <div *ngFor="let user of allUsersWhoDontBelong | userPipe : searchUser" class="box">
        <div class="media">
          <div class="media-content">
            <div class="content">
              <div class="left">
                <span>{{user.username}}</span>
              </div>
              <div class="right">
                <i class="fas fa-plus-circle add-button" (click)="addUserToGroup(user._id)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sign-up-window center" *ngIf="emailForm">
  <div class="sign-up-pop-sub">
      <i class="fa fa-window-close fa-2x icon-close" (click)="emailFormShow()"></i>
      <h2>Your message to {{studyBuddy.username}}</h2>
      <textarea [(ngModel)]="message"></textarea>
      <button (click)="sendMessageToBuddy(studyBuddy, message)"> SEND <i class="fas fa-envelope fa-2x"  ></i> </button>
  </div>
</div>

<!-- <i class="fas fa-plus-circle fa-4x add-icon"></i> -->