h1 {
    font-size: 25px;
    padding: 30px;
}

h3 {
    padding: 5vh;
}

.center {
    text-align: center;
}

.left {
    float:left;
}

.right {
    float: right;
}

.box {
    width: 75%;
    margin: auto;
}

.admin {
    margin: 5%;
}

.stats-box {
    background-color: lightgray;
    height: 100vh;
    color: black;
    overflow: scroll;
}


.control {
    width: 90vh;
}

.log-in-window,
.sign-up-window{
    background-color: rgba(155, 155, 155, 0.664);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.log-in-pop{
    background-color: white;
    position: fixed;
    left: 30vw;
    top: 20vh;
    width: 40vw;
    height: 60vh;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(54, 54, 54, 0.76); 
    box-shadow: 0px 0px 12px 3px rgba(54,54,54,0.76);
}

.sign-up-pop{
    background-color: white;
    position: fixed;
    left: 30vw;
    top: 20vh;
    width: 40vw;
    height: 60vh;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(54, 54, 54, 0.76); 
    box-shadow: 0px 0px 12px 3px rgba(54,54,54,0.76);
}