
<nav class="navbar is-transparent our-nav-class">
    <div class="navbar-brand">
      <a class="navbar-item">
        LOGO<!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Do we need that?
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Groups
          </a>
          <div class="navbar-dropdown is-boxed">
            
            <!-- All of those are there to be restricted after loggin in anyways -->
            <a [routerLink]="['/group', group._id]" *ngFor="let group of groups" class="navbar-item" href="#">
              {{group.name}}
            </a>
            
            <hr class="navbar-divider">
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control" *ngIf="userService.currentUser">
              <span> Hello, {{userService.currentUser.username}}!</span>
             
            </p>
            <p class="control">
              <a class="bd-tw-button button" (click)="logInShow()">
                <!-- <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span> -->
                <span>
                  Log In
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="signUpShow()">
                <!-- <span class="icon">
                  <i class="fas fa-download"></i>
                </span> -->
                <span>Sign up</span>
              </a>
            </p>
            <p class="control">
                <a class="bd-tw-button button" (click)="logOutSubmit()">
                  <!-- <span class="icon">
                    <i class="fas fa-download"></i>
                  </span> -->
                  <span>Log out</span>
                </a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </nav>



<router-outlet></router-outlet>


<div class="log-in-window" *ngIf="logInState">
    <div class="log-in-pop">
      <h2>Log in</h2>
      <form (ngSubmit)="logInSubmit()">
        <label>Username:
          <input type="text" name="username" [(ngModel)]="formCredentials.username" >
        </label>
        <label>Password:
          <input type="text" name="password" [(ngModel)]="formCredentials.password" >
        </label>
        <button>Log In</button>
      </form>
    </div>
</div>
  

<div class="sign-up-window" *ngIf="signUpState">
    <div class="sign-up-pop">
      <h2>Sign Up</h2>
      <form (ngSubmit)="signUpSumbit()">
        <label>Username:
          <input type="text" name="username" [(ngModel)]="formCredentials.username" >
        </label>
        <label>Password:
          <input type="text" name="password" [(ngModel)]="formCredentials.password">
        </label>
        <label>E-mail:
          <input type="email" name="email" [(ngModel)]="formCredentials.email">
        </label>
        <button>Sign Up</button>
      </form>
    </div>
</div>


<!-- TODO: Maybe a footer? -pk -->