
<nav class="navbar is-transparent our-nav-class">
    <div class="navbar-brand">
      <a class="navbar-item">
        LOGO<!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Do we need that?
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Groups
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="#">
              One Thing
            </a>
            <a class="navbar-item" href="#">
              Another Thing
            </a>
            <a class="navbar-item" href="#">
              See Comment from HERE
              <!-- All of those are there to be restricted after loggin in anyways -->
            </a>
            <hr class="navbar-divider">
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" (click)="logInShow()">
                <!-- <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span> -->
                <span>
                  Log In
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="signUpShow()">
                <!-- <span class="icon">
                  <i class="fas fa-download"></i>
                </span> -->
                <span>Sign up</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>



<router-outlet></router-outlet>


<div class="log-in-window" *ngIf="logInState">
    <div class="log-in-pop">
      <h2>Log in</h2>
      <form>
        <label>Username:
          <input type="text">
        </label>
        <label>Password:
          <input type="text">
        </label>
        <button>Log In</button>
      </form>
    </div>
</div>
  

<div class="sign-up-window" *ngIf="signUpState">
    <div class="sign-up-pop">
      <h2>Sign Up</h2>
      <form>
        <label>Username:
          <input type="text">
        </label>
        <label>Password:
          <input type="text">
        </label>
        <button>Sign Up</button>
      </form>
    </div>
</div>


<!-- TODO: Maybe a footer? -pk -->