
<nav class="navbar is-transparent our-nav-class">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        LOGO<!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" (click)="newSetShow()" *ngIf="userService.isLoggedIn">
          Create new set
        </a>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="userService.isLoggedIn">
          <a class="navbar-link" >
            Groups
          </a>
          <div class="navbar-dropdown is-boxed">
            
            <!-- All of those are there to be restricted after loggin in anyways -->
            <a [routerLink]="['/group', group?._id]" *ngFor="let group of userGroups" (click)="groupState(group._id)" class="navbar-item" >
              {{group?.name}}
            </a>
            
            <hr class="navbar-divider">
            <a (click)="newGroupShow()" class="navbar-item">
              Add a group
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
              <div class="navbar-item has-dropdown is-hoverable" *ngIf="userService.isLoggedIn">
                  <a class="navbar-link">
                    {{currentUser?.username}}
                  </a>
                  <div class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item" href="#">
                      One Thing
                    </a>
                    <a class="navbar-item"  [routerLink]="['/my-account', userId]">
                    <!-- [routerLink]="['/user', userService.currentUser._id]"  -->
                      Your Account
                      
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" (click)="logOutSubmit()">
                        <!-- <span class="icon">
                          <i class="fas fa-download"></i>
                        </span> -->
                        <span>Log out</span>
                    </a>
                  </div>
                </div>
            <p class="control" *ngIf="!userService.isLoggedIn">
              <a class="bd-tw-button button" (click)="logInShow()">
                <!-- <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span> -->
                <span>
                  Log In
                </span>
              </a>
            </p>
            <p class="control" *ngIf="!userService.isLoggedIn">
              <a class="button is-primary" (click)="signUpShow()">
                <!-- <span class="icon">
                  <i class="fas fa-download"></i>
                </span> -->
                <span>Sign up</span>
              </a>
            </p>
            <!-- <p class="control">
                <a class="bd-tw-button button" (click)="logOutSubmit()">
                  <span>Log out</span>
                </a>
              </p> -->
          </div>
        </div>
      </div>
    </div>
  </nav>



<router-outlet></router-outlet>


<div class="log-in-window" *ngIf="logInState">
    <div class="log-in-pop">
      <h2>Log in</h2>
      <form (ngSubmit)="logInSubmit()">
        <label>Username:
          <input type="text" name="username" [(ngModel)]="formCredentials.username" >
        </label>
        <label>Password:
          <input type="password" name="password" [(ngModel)]="formCredentials.password" >
        </label>
        <div *ngIf="isErrMsg">{{displayMsg}}</div>
        <button>Log In</button>
      </form>
    </div>
</div>
  

<div class="sign-up-window" *ngIf="signUpState">
    <div class="sign-up-pop">
      <h2>Sign Up</h2>
      <form (ngSubmit)="signUpSumbit()">
        <label>Username:
          <input type="text" name="username" [(ngModel)]="formCredentials.username" >
        </label>
        <label>Password:
          <input type="password" name="password" [(ngModel)]="formCredentials.password">
        </label>
        <label>E-mail:
          <input type="email" name="email" [(ngModel)]="formCredentials.email">
        </label>
        <div *ngIf="isErrMsg">{{displayMsg}}</div>
        <button>Sign Up</button>
      </form>
    </div>
</div>

<div class="sign-up-window" *ngIf="newGroupState" >
  <div class="sign-up-pop">
    <h2>Name your new group</h2>
    <form (ngSubmit)="groupFormSubmit()">
      <label>
        <input type="text" name="username" [(ngModel)]="newGroup.name" >
      </label>
      <button>Create</button>
    </form>
  </div>
</div>

<div class="sign-up-window" *ngIf="newCardsState" >
  <div class="sign-up-pop">
    <h2>New set of cards</h2>
    <form (ngSubmit)="subjectFormSubmit()">
      <label>What's the subjects of this set?
        <input type="text" name="name" [(ngModel)]="newSetOfCards.name" >
      </label>
      <button>Create</button>
    </form>
  </div>
</div>
<!-- TODO: Maybe a footer? -pk -->