<div class="columns">
  <div class="main-section column ">
    <h1 class="center"> Your Card Subjects</h1>

    <div class="box search">
      <div class="field has-addons">
        <input class="input" type="text" placeholder="find a group" [(ngModel)]="search">
      </div>
    </div>

    <div class="box" *ngFor="let group of userSubs | inputFilter : search">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="left">
              <h4>
                <strong>{{group?.name}}</strong>
              </h4>

              <!-- <div *ngFor="let keyword of subject.keywords">{{keyword}}</div> -->
              <!-- <p *ngIf="subjects">Tags: {{subjects?.tags}}</p> -->
            </div>
            <a class="button is-link right" [routerLink]="['/new-subject', group?._id]">Edit</a>
            <a class="button is-link right" (click)="deleteSubject(group._id, userData._id)">Leave this subject</a>
          </div>
        </div>
      </article>
    </div>