<div class="card">
<div class="columns">
  <div class="main-section column ">
    <h2 class="center"> Your Subjects</h2>
    <p class="center"> Manage the cards you've created</p>

    <div class="box search">
      <div class="field has-addons">
        <input class="input" type="text" placeholder="find a group" [(ngModel)]="search">
      </div>
    </div>

    <div class="box"  *ngFor="let group of userSubs | inputFilter : search" >
        <article class="media" >
          <div class="media-content">
            <div class="content">
              <div class="left">
                <h4>
                  <strong>{{group?.name}}</strong>
                </h4>
  
                <!-- <div *ngFor="let keyword of subject.keywords">{{keyword}}</div> -->
                <!-- <p *ngIf="subjects">Tags: {{subjects?.tags}}</p> -->
              </div>
              <!-- this one below isnt possible because we dont have groupId -->
              <!-- <a class="button is-link right" [routerLink]="['/g', groups._id, 'subject', subject._id]">Go to this set</a> -->
              <a class="button color5 right" [routerLink]="['/new-subject', group?._id]">Edit</a>
             <!-- I think we don't want that since the subjects are now always stricty involved with groups -->
              <!-- <a class="button is-link right" (click)="deleteSubject(group._id, userData._id)">Leave this subject</a> -->
            </div>
          </div>
        </article>
    </div>
  </div>