<div class="card">


    <h2 class="center"> Your Groups</h2>
    <div class="box search">
      <div class="field has-addons">
        <input class="input" type="text" placeholder="find a group" [(ngModel)]="search">
      </div>
    </div>
    <!-- *ngFor="let subject of groups?.subjects  " -->
    <a class="box" *ngFor="let group of userGroups | inputFilter : search" [routerLink]="['/group', group._id]">
      <div class="media">
        <div class="media-content">
          <div class="content">
            <div class="left">
              <h4>
                <strong>{{group.name}}</strong>
              </h4>

              <!-- <div *ngFor="let keyword of subject.keywords">{{keyword}}</div> -->
              <!-- <p *ngIf="subjects">Tags: {{subjects?.tags}}</p> -->
            </div>
            <a class="button right color1" *ngIf="group.name !='Private' " (click)="deleteGroup(group._id, userData._id)">Remove</a>
          </div>
        </div>
      </div>
    </a>
</div>

