a.box:hover {
    background-color: rgb(243, 250, 173);
    border-color: rgba(64,64,64,1);
}
a.box {
    margin-bottom: 1px;
}

body {
    background-color: whitesmoke;
}

h2 {
    font-size: 5vh;
    text-align: center;
    margin-bottom: 3vh;
}

.card {
width: 85%;
height: auto;
padding: 5%;
background-color: whitesmoke;
}


h3 {
    padding: 5vh;
}

.center {
    text-align: center;
}

.left {
    float:left;
}

.right {
    float: right;
}

.box {
    width: 75%;
    margin: auto;
}

.admin {
    margin: 5%;
}

.stats-box {
    background-color: grey;
    height: 100vh;
}

.button {
    margin-right: 2vh;
}

.control {
    width: 90vh;
}

.color1 {
    background-color: rgb(219, 68, 88);
    color: white;
  }
  
  .color1:hover { 
    color: white;
    background-color: rgb(175, 47, 64);

  }

  .color5 {
    background-color: rgb(50, 152, 224);
  }
  
  .color5:hover { 
    color: black;
    background-color: rgb(53, 130, 186);
  }