<h2 class="center">{{subjectData?.name}}</h2>

<div class="columns">
    <div class="column is-half">
        <div class="one-card margin" *ngFor="let oneCard of subjectCards">
        <div class="question">{{oneCard.front}}</div>
        <div class="answer">{{oneCard.back}}</div>
        <button class="color1" (click)="deleteCardSubmit(oneCard._id)">Delete</button>
        </div>
    
        <div class="add-new-card">
            <form (ngSubmit)="newCardSubmit()">
                <label><p>Front:</p>
                    <input class="input" type="text" name="front" [(ngModel)]="newCard.front" placeholder="">
                </label>
                <label><p>Back:</p>
                    <input class="input" type="text" name="back" [(ngModel)]="newCard.back" placeholder="" >
                </label>
                <button class="btn color4">Add</button>
            </form>
        </div>
    </div>
    <div class="column is-half">
            <div class="add-new-card">
                <form (ngSubmit)="newKeywordSubmit()">
                    <label>
                        <p>Add a keyword to {{subjectData?.name}}</p>
                        <input class="input" type="text" name="front"  placeholder="">
                        <button><i class="fas fa-plus-circle add-button"></i></button> 
                    </label>

                    <!-- <button class="btn color4">Add</button> -->
                </form>
            </div>
            <div class="one-card margin" *ngFor="let oneCard of subjectCards">
                <div class="question">{{oneCard.front}}</div>
                <i class="fas fa-minus-circle delete-button" (click)="deleteKeywordSubmit()" ></i>
            </div>
    </div>
</div>


